body {
    font-family: 'Verdana', sans-serif;
    font-size: 19px;
}

.container {
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        }
.img { 
            margin: 20px 20px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
            text-align: center;
        }